.checkbtn{
    color: #be9c79;
    font-size: 25px;
    margin-right: 20px;
    padding: 4px 5px 1px 5px;
    display: none;
    border-radius: 5px;
    border: 2px solid brown;
}
#check{
    display: none;
}
@media (max-width:576px){
    .navLinks{
        background-color: white;
        position: absolute;
        top: 78px;
        flex-direction: column;
        display: none;
        height: 300px;
        width: 100%;
    }
    .navLinks li{
        background-color: white;
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navLinks li:hover{
        background-color: #be9c79;
    }
    .checkbtn{
        display: block;
    }
    #check:checked~.navLinks{
        display: flex;
    }
    .content{
        padding: 80px 50px;
        overflow: hidden;
        text-align: left;
        
    }
    .content p{
        font-size: 18px;
        /* text-align: left; */
    }
    .content h1{
        font-size: 30px;
        /* text-align: left; */
    }
    .content button{
        padding: 3px;
        border-radius: 3px;
    }
    .aboutus{
        display: flex;
        flex-direction: column;
    }
    .aboutimg{
        width: 100%;
    }
    .aboutimg img{
        width: 100%;
    }
    .aboutcontent{
        width: 100%;
        /* padding: 15px; */
    }
    .aboutcontent h2{
        font-size: 40px;
        padding: 10px;
    }
    .aboutcontent p{
        font-size: 18px;
        padding: 15px;
    }
    .aboutcontent button{
        padding: 3px;
        border-radius: 3px;
        margin-left: 10px;
    }
.head img{
    width: 40%;
}
    .cardcontainer{
        width: 100%;
        display: flex ;
        flex-direction: column;
    }
    .contactContainer{
        display: flex;
        flex-direction: column;
        /* width: 20%; */
    }
    .contact-img{
        width: 100%;
    }
   .contactContainer .bookingTable{
    width: 90%;
   }

}